<section style="
    border:none;
    border-style: none;
    margin: 5px 0 0;
    padding: 10px;
    background: none;">
    <section class="border" style="margin: -15px auto 0 10px; float: none; width: 0; height: 0;border-left: 18px solid transparent; border-right: 0px solid transparent; border-bottom: 27px solid #bfd730;">
        &nbsp;
    </section>
    <section class="color" style="margin-top: -1px; margin-bottom: 0; min-height: 40px; visibility: visible; height: 40px; line-height: 40px; border-radius: 3px; text-indent: 0.5rem; color: rgb(255, 255, 255); background-color: rgb(191, 215, 48);">
        <span style="font-size:14px;color: #000;">↑点击上方<span style="color: #607fa6;">“陕西快乐十分”</span>免费订阅</span>
    </section>
</section>

<br/>

<p>
今天的福彩 3D 推荐来了，共 {{ images|length }} 个！
</p>

<br/>
<br/>

{% for img in images %}
<section style="display: inline-block;">
    <img src="{{ img }}" style="display: block;width: 100%;"/>
</section>
{% endfor %}
