<section style="margin: 1em auto; line-height: 25.6px; white-space: normal; border: none; text-align: center;">
    <section style="overflow: hidden;-webkit-overflow-scrolling: touch;">
        <section style="white-space: nowrap; overflow-x: scroll;">

            {% for img in images %}
            <section style="display: inline-block;">
                <img src="{{ img }}" style="display: block;width: 100%;"/>
            </section>
            {% endfor %}
        </section>
    </section>
</section>
