[submodule "projects/WebShell"]
	path = projects/WebShell
	url = git@github.com:JackonYang/WebShell.git
[submodule "projects/web-shell"]
	path = projects/web-shell
	url = git@github.com:JackonYang/web-shell.git
[submodule "projects/bookhub"]
	path = projects/bookhub
	url = git@github.com:JackonYang/bookhub.git
[submodule "markdown-coder/money-maker-apps"]
	path = markdown-coder/money-maker-apps
	url = git@github.com:JackonYang/money-maker-apps.git
[submodule "markdown-coder/paper-reading"]
	path = markdown-coder/paper-reading
	url = git@github.com:JackonYang/paper-reading.git
