<html>

<head>
    {% include "parts/header.html" %}
</head>

<body class="container-xxl my-md-4 bd-layout">
    <h1 class="display-6">
        运行中...
    </h1>

    <div id='notify-info'>
        {% for msg in notifys %}
        <p>{{ msg }}</p>
        {% endfor %}
    </div>


    <div class="striped-border">
    </div>
    <div class="quick-links">
        {% include "parts/quick-links.html" %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <script>
        $().ready(function() {
            //EITHER USE A GLOBAL VAR OR PLACE VAR IN HIDDEN FIELD
            //IF FOR WHATEVER REASON YOU WANT TO STOP POLLING
            // pollServer();
            window.setTimeout(function() {
                window.location.reload(true);
            }, 1000);
        });

        // var enable_notify_polling = true;
        // var url_get_notifys = "{{ url_get_notifys }}";
        // function pollServer()
        // {
        //     if (enable_notify_polling)
        //     {
        //         window.setTimeout(function () {
        //             $.ajax({
        //                 url: url_get_notifys,
        //                 type: "GET",
        //                 success: function (result) {
        //                     //SUCCESS LOGIC
        //                     $("div#notify-info").replaceWith(result);
        //                     pollServer();
        //                 },
        //                 error: function () {
        //                     //ERROR HANDLING
        //                     pollServer();
        //                 }});
        //         }, 2500);
        //     }
        // }
    </script>

</body>

</html>